---
 import './src/styles/global.css';
 const { title = "CV" } = Astro.props;

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <h1>
      Salomé González Saunier
    </h1>

  </head>
