---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'; // Importa tu layout base

// Aquí puedes definir props específicas para esta página si las necesitas.
// El 'title' ya se pasa al BaseLayout.
---

<BaseLayout title="Salomé González Saunier - CV">
  <section class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Salomé González Saunier</h1>
      </div>
    </div>
  </section>

  </BaseLayout>